include README.md
include LICENSE.txt
include moe.nyarchlinux.catgirldownloaderqt.desktop
include moe.nyarchlinux.catgirldownloaderqt.metainfo.xml
include moe.nyarchlinux.catgirldownloaderqt.svg
recursive-include src/catgirldownloaderqt/qml *.qml
