[Desktop Entry]
Type=Application
Version=1.0
Name=Catgirl Downloader
GenericName=Image Downloader
Comment=Browse and save anime-style images from multiple sources
Exec=catgirldownloaderqt
Icon=moe.nyarchlinux.catgirldownloaderqt
Categories=Qt;KDE;Utility;Graphics;
StartupNotify=true
X-KDE-FormFactor=desktop;tablet;handset;
